<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="utf8"/>
			<title>HandiInterim</title>
		</head>

		<body>
			<div id="test_app">
				{{message}}

				<p v-if="seen">
					Ceci est un troll
				</p>
			</div>

			<script type="module" src="main.js"></script>
			<script src="../../node_modules/vue/dist/vue.min.js"></script>
		</body>
	</html>