header {
	color : white;
	font-size : 2em;
	background: linear-gradient(to left,rgba(128,128,128,0),rgba(0,0,0,1));
	margin-bottom : 30px;
	padding: 1.25em;
}

header h1 {
	margin : 0 auto;
}

body {
  margin: 0px;
  text-align: center;
  background-image: url(../../img/fond.jpg);
  /*arthur test*/
  background-repeat: no-repeat;
  background-size: cover;
}

body input {
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background: linear-gradient(to left,rgba(128,128,128,0),rgba(0,0,0,0.5));
  transition: all 0.2s;
}
body input:hover{

	color : white;
	background-color: gray;
}

/*Bouton*/
.bouton{
	margin : 0.5em;
	border-color : black;
	font-size : 1.25em;
	padding : 0.5em;
	border-radius: 0.5em;
	color : white;
	background: black;
	transition: all 0.2s;
}
.bouton:hover{
	color : black;
	border-radius: 0.5em;
	background : white;
	border-color : white;
}

.label{
	color : white;
	margin : 0.3em;
}

body div{
	margin : 0.5em;
	font-size : 1em;
}

header div{
	margin : 0;
}

.labbel {
	color : white;
	margin-right : 0.3em;	
}

.boiteTitre{
	font-size : 2.5em;
	color : white;
	background : linear-gradient(to left,rgba(128,128,128,0),rgba(0,0,0,1));
	margin-left : 30%;
	margin-right : 30%;
	padding-top : 15px;
	padding-bottom : 15px;
	border-radius: 10px;
}

.boiteOffre{
	color : white;
	background : linear-gradient(to left,rgba(128,128,128,0.4),rgba(0,0,0,1));
	margin-left : 30%;
	margin-right : 30%;
	padding-top : 15px;
	padding-bottom : 15px;
	border-radius: 10px;
}

form {
	color : white;
	background : linear-gradient(to left,rgba(128,128,128,0),rgba(0,0,0,1));
	margin-left : 30%;
	margin-right : 30%;
	padding-top : 15px;
	padding-bottom : 15px;
	border-radius: 10px;
}

footer {
	background: linear-gradient(to left,rgba(128,128,128,0),rgba(0,0,0,1));
	color: black;
	text-align:center;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	bottom : 0;
}

footer h2, footer div {
	color : white;
}

#nav a{
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity:1;
	color:white;
	background-color: black;
	background: linear-gradient(to left,rgba(128,128,128,0.5),rgba(0,0,0,1));
	border-radius: 10px;
	text-decoration:none;
}

#nav a:hover{
	padding-left: 80px;
	padding-right: 15px;
	padding-top: 15px;
	margin-top: 80px;
	transition: 1s;
}

#nav ul{
	list-style: none;
}

		
